name: Run Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        platform: [ ubuntu-latest, macos-latest, windows-latest ]
    steps:
      - uses: actions/checkout@v4

      - name: Prepare Linux
        if: ${{ matrix.platform == 'ubuntu-latest' }}
        run: |
          sudo apt install -y --no-install-recommends libavcodec-dev libavformat-dev libavutil-dev libswresample-dev libeigen3-dev

      - name: Prepare MacOS
        if: ${{ matrix.platform == 'macos-latest' }}
        run: |
          brew install eigen

      - name: Prepare Windows
        shell: bash
        if: ${{ matrix.platform == 'windows-latest' }}
        run: |
          choco install ninja
          echo "CMAKE_GENERATOR=Ninja" >> "$GITHUB_ENV"

      - name: Build project
        shell: bash
        run: |
          cmake -S . -B build -DMUSLY_USE_OWN_LIBKISSFFT=TRUE -DBUILD_TEST=ON
          cmake --build build --config Release

      - name: Run tests
        shell: bash
        run: |
          ctest --test-dir build/test -C Release
